body {
    margin: 0;
}

.mainContainer {
    width: 100%;
    background-color: #e0e1dd;
    height: 100vh;
}

.menu {
    width: 100%;
    height: 100px;
    display: flex;
    color: #01161e;
    font-size: 1.5rem;
    text-decoration: none;
    /* position: fixed;  */
    top: 0;
}

.menuItems {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
    width: 100%;
}

.itemsStyle {
    width: 50px;
    display: flex;
    margin: 0 20px 0 0;
}

.menuItems div div:hover {
    color: #7ebdc2;
}

.active { 
    color: #ffc300;
    text-decoration: underline;
    cursor: auto;
  }

.footer {
    width: 100%;
    height: 80px;
    bottom: 0;
    position: absolute;
    justify-content: right;
    align-items: center;
    display: flex;
}

.contact:hover {
    color: #7ebdc2;
    cursor: pointer;
}

.icon {
    text-decoration: none;
    color: #01161e;
    font-size: 2rem;
    margin: 5px;
}

.icon:hover {
    color:  #ffc300;
}

.title {
    width: 100%;
    height: 6rem;
    margin: 20px;
    font-size: 1.5rem;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.form {
    background-color: white;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    height: 550px;
    width: 620px;
    text-align: left;
    font-size: 1rem;
}

input[type=text],
select {
    width: 40%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=email] {
    width: 40%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    padding: 12px 12px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 8px;
    bottom: 0;
}

.inputs {
    display: flex;
    flex-flow: column;
}

.btn {
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.message{
    width: 300px;
    height: 300px;
}

a {
    text-decoration: none;
    color: #01161e;
}

a:hover {
    color: #01161e;
}