body {
    margin: 0;
}

/* .borders {
    border: 1px solid black;
} */

.mainContainer {
    width: 100%;
    background-color: #e0e1dd;
    height: 100vh;
}

.menu {
    width: 100%;
    height: 100px;
    display: flex;
    /* background-color: #01161e; */
    color: #01161e;
    /* border-radius: 20px; */
    font-size: 1.5rem;
    text-decoration: none;
}

.menuItems {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
    width: 100%;
}

.itemsStyle {
    width: 50px;
    display: flex;
    margin: 0 20px 0 0;
}

.menuItems div div:hover {
    color: #7ebdc2;
}

.active { 
    color: #ffc300;
    text-decoration: underline;
    cursor: auto;
  }

.spacer {
    width: 20px;
}

.bodyContainer {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
}

.pixels-photo {
}

.textContainer {
    height: 250px;
    background-color: #e0e1dd;
    border: 10px;
    text-align: center;
    text-indent: 15%;
    font-size: 2rem;
    padding-right: 10px;
    margin: 0 300px;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 80px;
    /* display: inline-block; */
    /* background-color: #01161e; */
    bottom: 0;
    position: absolute;
    justify-content: right;
    align-items: center;
    display: flex;
}

.contact:hover {
    color: #7ebdc2;
}

.icon {
    text-decoration: none;
    color: #01161e;
    font-size: 2rem;
    margin: 5px;
}

.icon:hover {
    color:  #ffc300;
}